---
import type { HeadingTree } from '@components/mdoc/TableOfContents.astro';

interface Props {
  subheadings: HeadingTree[];
  slug: string;
  text: string;
}

const { subheadings, slug, text } = Astro.props;
---

<li>
  <a href={`#${slug}`}>{text}</a>
  {
    subheadings.length > 0 && (
      <ul>
        {subheadings.map(({ subheadings, slug, text }) => (
          <Astro.self {subheadings} {slug} {text} />
        ))}
      </ul>
    )
  }
</li>
