---
import Layout from '@layouts/page.astro';

import Footer from '@components/footer.astro';
import Link from '@components/link.astro';

import { Icon } from 'astro-icon';
import simpleFM from '@solely/simple-fm';

const client = new simpleFM(import.meta.env.LAST_FM_KEY);

const track = await client.user.fetchRecentTrack('solelychloe');
---

<Layout description="What I may currently be listening to." pageTitle="Last.fm" title="Last.fm | Chloe Arciniega">
  <main class="content flex flex-grow flex-col text-3xl">
    <span class="text-light-accent text-5xl font-bold dark:text-ctp-pink"
      >{track.currentlyPlaying ? 'Now listening to:' : 'Previously played:'}</span
    >

    {track.currentlyPlaying ? '' : <span class="italic">I'm not currently listening to anything.</span>}

    <div class="cover flex flex-auto">
      <Link href={track.url} target="_blank">
        <img
          src={track.image}
          title={`Cover art of ${track.name} by ${track.artist} on ${track.album}`}
          alt={`Cover art of ${track.name} by ${track.artist} on ${track.album}`}
          width="300"
          height="300"
        />
      </Link>
    </div>

    <span class="song">
      <Icon size={20} title="Song name" name="mdi:music-note-eighth" />
      <Link href={track.url} target="_blank" title={`${track.name} by ${track.artist} on ${track.album}`}>
        {track.name}
      </Link>
    </span>

    <span class="artist">
      <Icon size={20} title="Artist" name="mdi:artist" />
      <Link href={`https://last.fm/music/${track.artist}`} title={track.artist} target="_blank">
        {track.artist}
      </Link>
    </span>

    <span class="album">
      <Icon size={20} title="Album" name="mdi:album" />
      <Link
        href={`https://last.fm/music/${track.artist}/${track.album}`}
        title={`${track.album} by ${track.artist}`}
        target="_blank"
      >
        {track.album}
      </Link>
    </span>

    <span class="profile">
      <Icon size={20} title="My Last.fm profile" name="simple-icons:lastfm" />
      <Link class="text-ctp-red" href="https://last.fm/user/solelychloe" title="My Last.fm profile" target="_blank">
        My Last.fm profile
      </Link>
    </span>
    <Footer />
  </main>

  <style>
    .cover,
    .profile {
      @apply pt-5 pb-5;
    }
  </style>
</Layout>
