---
import Layout from '@layouts/page.astro';

import Footer from '@components/footer.astro';
import Line from '@components/underline.astro';
import Link from '@components/link.astro';

import { format, parseISO } from 'date-fns';
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon';

import type { PostFrontmatter } from '~/types';

const fm = (d: Date) => format(d, 'MMM do, yyyy');

// Obtain posts from the desired folder, hide drafts, sort it by date.
const collection = await getCollection('posts', ({ data }) => !data.draft);
const posts = collection.sort((a, b) => new Date(b.data.created).valueOf() - new Date(a.data.created).valueOf());

const createdAt = (post: PostFrontmatter) => post.created && fm(parseISO(post.created));
---

<Layout
  description="A personal blog, comprising of whatever stuff I find interesting to post."
  siteName="arciniega.one"
  title="Blog | Chloe Arciniega"
>
  <main class="content flex flex-grow flex-col text-3xl">
    <Line>My blog</Line>

    <p class="description mt-5 italic">A personal blog, comprising of whatever stuff I find interesting to post.</p>

    <!-- prettier-ignore -->
    <Link class="subscribe" title="Subscribe to RSS feed" href="/rss.xml">
        <Icon class="inline mb-2" size={20} name="mdi:rss" />
        Subscribe to RSS
    </Link>

    {
      posts.map(async (post) => (
        <article>
          {post.data.title && (
            <span class="title text-4xl font-bold">
              <Link href={`${post.collection}/${post.slug}`} title={post.data.title}>
                {post.data.title}
              </Link>
            </span>
          )}

          {post.data.created && (
            <span class="date">
              <Icon class="mb-1 inline" size={20} name="mdi:calendar" />
              {createdAt(post.data)}
            </span>
          )}

          {post.data.tags ? (
            <div class="tags flex gap-2">
              <span class="border-accent mb-2 mt-2 rounded-lg border-[1px] py-1 px-3">
                <Icon class="mb-1 inline" size={20} name="mdi:tag" />
                {post.data.tags && post.data.tags.join(', ')}
              </span>
            </div>
          ) : null}

          {post.data.description && <span class="description mt-10 italic">{post.data.description}</span>}
        </article>
      ))
    }

    <Footer />
  </main>
</Layout>
