<!-- ---
import { Icon } from 'astro-icon/components';
import { donation } from '$config';
---

<div
  class="flex flex-col gap-5 rounded-md border border-ctp-mauve bg-ctp-base p-5 dark:border-ctp-pink"
>
  <div class="flex flex-col gap-y-2">
    <h3 class="text-2xl font-bold">👋 Hey! While you're here...</h3>

    <p>
      We're trying to escape from our abusive, overprotective parents and move out. Our Ko-fi page
      goes into more detail about our situation.
    </p>

    <p>
      If you're able to help us in any way,
      <span class="font-bold italic">please</span>
      consider donating. If not, please share the below link(s) with others.
    </p>

    <p>If Ko-fi doesn't work for you, you can also donate to us directly via PayPal.</p>

    <p>Thank you so much. Any donation will go a long way. 💖</p>
  </div>

  <div class="flex flex-col gap-y-1">
    <h3 class="text-2xl font-bold">Donation progress:</h3>
    <p>
      <span class="font-bold">{donation.percent}%</span> of our way there! (${
        donation.donated.toLocaleString('en-US')
      } / ${donation.goal.toLocaleString('en-US')})
    </p>

    <span id="progress-bar" class="h-1 py-2" style={`width: ${donation.percent}%`}>
      <span class="block h-4 bg-ctp-pink"></span>
    </span>
  </div>

  <div class="flex flex-col flex-wrap gap-x-5 gap-y-2">
    <h1 class="text-2xl font-bold">Donation methods:</h1>

    <div class="flex flex-wrap gap-4 pl-0.5">
      <div class="flex gap-1">
        <Icon size={20} name="simple-icons:kofi" aria-hidden={true} />
        <a
          href={donation.kofi}
          title="A link to our Ko-fi page, where you can choose to donate to us."
          target="_blank"
        >
          Ko-fi
        </a>
      </div>

      <div class="flex gap-1">
        <Icon size={20} name="simple-icons:patreon" aria-hidden={true} />
        <a
          href={donation.patreon}
          title="A link to our Patreon page, where you can choose to donate to us monthly."
          target="_blank"
        >
          Patreon (monthly)
        </a>
      </div>

      <div class="flex gap-1">
        <Icon size={20} name="simple-icons:paypal" aria-hidden={true} />
        <a
          href={donation.paypal}
          title="A link to our PayPal page if Ko-fi doesn't work2 for you, where you can choose to donate to us."
          target="_blank"
        >
          PayPal
        </a>
      </div>
    </div>
  </div>
</div> -->
