---
import Link from '@components/link.astro';

import { socials } from '@config';
---

{
  /* prettier-ignore */
  socials && (
    <section class="links pb-12 text-[1.2em]">
      {socials?.discord && (
        <Link href={`https://discord.com/users/${socials.discord.id}`} title={`Discord: ${socials.discord.alt}`} target="_blank">
          Discord [{socials.discord.alt}]</Link>
      )}

      {socials?.mastodon && (
        <Link href={socials.mastodon.link} title={`Mastodon: ${socials.mastodon.alt}`} target="_blank">
          Mastodon</Link>
      )}
      {socials?.github && (
        <Link href={`https://github.com/${socials.github}`} title={`GitHub: ${socials.github}`} target="_blank">
          GitHub</Link>
      )}
      {socials?.telegram && (
        <Link href={`https://t.me/${socials.telegram}`} title={`Telegram: ${socials.telegram}`} target="_blank">
          Telegram</Link>
      )}
      {socials?.mail && (
        <Link href={`mailto:${socials.mail}`} aria-label={`Mail: ${socials.mail}`} title={`Mail: ${socials.mail}`} target="_blank">
          Mail</Link>
      )}
    </section>
  )
}
