---
const {
  link,
  name,
  description,
  tag,
  date,
  borderColor = 'border-light-accent dark:border-ctp-pink',
  textColor = 'text-light-accent dark:text-ctp-pink',
} = Astro.props;
---

<li>
  <a href={link} class={`${textColor} hover:underline`} target="_blank" title={name}>{name}</a>
  <div class="flex gap-2">
    <span class={`tag ${borderColor}`}>{tag}</span>
    <span class={`tag ${borderColor}`}>{date}</span>
  </div>
  <span>{description}</span>
</li>

<style>
  .tag {
    @apply rounded-lg border-[1px] py-1 px-3;
  }
</style>
