---
import { Icon } from 'astro-iconify';
import Collapsible from '@components/Collapsible.astro';
import Link from '@components/base/Link.astro';

const {
  link,
  title,
  description,
  date,
  image,
  tag,
  more,
  bgColor = 'bg-ctp-mauve dark:bg-ctp-pink',
  borderColor = 'border-ctp-mauve dark:border-ctp-pink',
  textColor = 'text-ctp-mauve dark:text-ctp-pink',
} = Astro.props;
---

<span class={`${borderColor} flex flex-col max-w-xl rounded-2xl border p-5`}>
  <img class="w-16 rounded-full" src={image} title={`Logo of ${title}`} alt={`Logo of ${title}`} />
  <span class="flex flex-col pb-2">
    <span class={`${textColor} text-3xl font-semibold pt-2`}>
      {title}
    </span>
    <span class="text-base font-semibold">{tag}</span>
    <span class="text-sm">({date})</span>
  </span>

  <span class="pb-3 pt-1">
    {description}
  </span>

  {
    more && (
      <Collapsible class={textColor} name="Read More">
        {more}
      </Collapsible>
    )
  }

  <span class="flex">
    <Link
      color="text-ctp-base"
      class="hover:no-underline"
      href={link}
      title={`Visit the website of ${title}`}
      target="_blank"
    >
      <span class={`rounded-xl border-2 px-2 font-medium ${borderColor} ${bgColor}`}>
        Visit
        <Icon class="text-ctp-base" size={20} name="mdi:open-in-new" />
      </span>
    </Link>
  </span>
</span>
