---
import { Icon } from 'astro-iconify';
import Link from '@components/base/Link.astro';

const {
  link,
  title,
  description,
  date,
  image,
  tag,
  more,
  borderColor = 'border-ctp-mauve dark:border-ctp-pink',
  textColor = 'text-ctp-mauve dark:text-ctp-pink',
} = Astro.props;
---

<span class={`${borderColor} flex flex-col max-w-xl rounded-2xl border p-5`}>
  <img class="w-16 rounded-full" src={image} title={`Logo of ${title}`} alt={`Logo of ${title}`} />
  <span class="flex flex-col pb-2">
    <span class={`${textColor} text-3xl font-semibold pt-2`}>
      {title}
    </span>
    <span class="text-sm">({date})</span>
    <span class="text-base font-semibold">{tag}</span>
  </span>

  <span class="pb-3 pt-1">
    {description}
  </span>

  {
    more && (
      <details class="pb-3">
        <summary class={`${textColor} cursor-pointer`}>Read More</summary>
        {more}
      </details>
    )
  }

  <span>
    <Link color={textColor} href={link} title={`Visit the website of ${title}`}>Visit</Link>
    <Icon class={textColor} size={20} name="mdi:open-in-new" />
  </span>
</span>
