---
import Link from '@components/Link.astro';

import { Icon } from 'astro-iconify';

const { currentlyPlaying, track, username } = Astro.props;
---

<section class="flex flex-col">
  <span class="text-4xl font-bold text-ctp-mauve dark:text-ctp-pink">
    {currentlyPlaying ? 'Now listening to' : 'Previously played'}:
  </span>

  {currentlyPlaying ? '' : <span class="pt-2 italic">I'm not listening to anything at the moment!</span>}

  <span class="cover flex flex-auto pt-7 pb-5">
    <Link href={track.url} target="_blank">
      <img
        src={track.image}
        class="rounded-xl"
        title={`Cover art of the track ${track.name} by ${track.artist.name} on ${track.album}.`}
        alt={`Cover art of the track ${track.name} by ${track.artist.name} on ${track.album}.`}
        width="300"
        height="300"
      />
    </Link>
  </span>

  <span class="metadata flex flex-col gap-3 pt-1">
    <span class="song">
      <Icon size={25} title="Song name" name="mdi:music-note-eighth" />
      <Link href={track.url} target="_blank" title={`${track.name} by ${track.artist.name} on ${track.album}`}>
        {track.name}
      </Link>
    </span>

    <span class="artist">
      <Icon size={25} title="Artist" name="mdi:artist" />
      by
      <Link href={`https://last.fm/music/${track.artist.name}`} title={track.artist.name} target="_blank">
        {track.artist.name}
      </Link>
    </span>

    <span class="album">
      <Icon size={25} title="Album" name="mdi:album" />
      on
      <Link
        href={`https://last.fm/music/${track.artist.name}/${track.album}`}
        title={`${track.album} by ${track.artist.name}`}
        target="_blank"
      >
        {track.album}
      </Link>
    </span>
  </span>

  <span class="profile pt-7 pb-5">
    <Icon class="text-ctp-red" size={25} title="My Last.fm profile" name="simple-icons:lastfm" />
    <Link color="text-ctp-red" href={`https://last.fm/user/${username}`} title={`Last.fm: ${username}`} target="_blank">
      My Last.fm profile ({username})
    </Link>
  </span>
</section>
