---
import { format, parseISO } from 'date-fns';
import Separator from '@components/Separator.astro';
import type { HTMLAttributes } from 'astro/types';

const formatDate = (date: Date) => format(date, 'MMMM d, yyyy');

interface Props extends HTMLAttributes<'a'> {
  data: {
    title: string;
    description: string;
    created: string;
    tag: string;
  };
  slug: string;
  minutesRead: string;
}

const {
  data: { title, description, created, tag },
  slug,
  minutesRead,
} = Astro.props;
---

<article class="flex flex-col gap-2 md:gap-1">
  <div
    class="flex flex-col gap-1 rounded-lg border-4 border-ctp-surface1 bg-ctp-surface1 p-4 py-5 dark:border-ctp-mantle dark:bg-ctp-mantle"
  >
    <a transition:name={`title-${slug}`} class="text-3xl font-semibold" href={`/article/${slug}`} {title}>
      {title}
    </a>

    <header class="flex flex-wrap gap-1.5">
      <p transition:name={`date-${slug}`} class="text-ctp-subtext1 dark:text-ctp-subtext1">
        {formatDate(parseISO(created))}
      </p>

      <Separator transition:name={`sep-1-${slug}`} />

      <a transition:name={`tag-${slug}`} href={`/articles/tag/${tag}`} title={`Article tagged with ${tag}`}>
        {tag}
      </a>

      <Separator transition:name={`sep-2-${slug}`} />
      <p transition:name={`time-${slug}`} class="text-ctp-subtext1 dark:text-ctp-subtext0">
        {minutesRead}
      </p>
    </header>

    <p transition:name={`description-${slug}`} class="description italic">
      {description}
    </p>
  </div>
</article>
