---
import Layout from '@layouts/Page.astro';

import { base, blog } from '@config';
import { format, parseISO } from 'date-fns';

import Comments from '@components/blog/Comments.astro';
import { Icon } from 'astro-icon/components';

import '@fontsource/iosevka/400.css';

interface Props {
  slug?: string;

  title: string;
  description?: string;
  created?: string;
  modified?: string;
  tag?: string;
  minutesRead?: string;

  comments?: boolean;
  info?: boolean;
}

const { slug, title, description, created, modified, tag, minutesRead, comments, info } = Astro.props;

const checkComments = () => blog.comments.enabled && comments;

const formatDate = (date: Date) => format(date, 'MMMM d, yyyy');
const createdAt = created ? formatDate(parseISO(created)) : undefined;
const modifiedAt = modified ? formatDate(parseISO(modified)) : undefined;

const backlinkPath = Astro.url.pathname.replace('/article', '');
const backlink = new URL(backlinkPath, 'https://solstice.tf').href;

const image = slug
  ? {
      src: `/article/${slug}.png`,
      alt: title,
    }
  : {
      src: base.favicon.fileName,
      alt: base.favicon.altText,
    };
---

<Layout {description} pageTitle={title} title={`${title} | Chloe Arciniega`} ogImage={image} created={createdAt}>
  {checkComments() && <meta slot="head" name="giscus:backlink" content={backlink} />}

  <header class="flex flex-col">
    <h1 transition:name={`title-${slug}`} class="title pt-1">{title}</h1>
    <p transition:name={`description-${slug}`} class="pb-3 pt-2">{description}</p>

    {
      !info && (
        <div class="flex flex-col pt-1">
          <p
            transition:name={`date-${slug}`}
            class="flex flex-row gap-x-1"
            title={`Published on ${createdAt}${modifiedAt ? `, edited on ${modifiedAt}` : ''}`}
          >
            <Icon size={25} name="mdi:calendar" />
            {createdAt}
          </p>

          <a
            class="flex w-max flex-row gap-x-1"
            transition:name={`tag-${slug}`}
            href={`/articles/tag/${tag}`}
            title={`Article tagged with ${tag}`}
          >
            <Icon size={25} name="mdi:tag-text-outline" />
            {tag}
          </a>

          <p class="flex flex-row gap-x-1" transition:name={`time-${slug}`}>
            <Icon size={25} name="mdi:clock-outline" /> {minutesRead}
          </p>
        </div>
      )
    }
  </header>

  <section class="article-content prose dark:prose-invert">
    <slot />
  </section>

  {checkComments() && <Comments />}
</Layout>

<style is:global>
  .article-content {
    @apply max-w-none;
    @apply text-xl;
    @apply pb-5 pt-3;

    & :is(h1, h2, h3, h4, h5, h6, p, strong, li) {
      @apply text-ctp-text;
    }

    & code {
      @apply whitespace-pre-wrap;

      & > .line {
        @apply font-mono;
      }
    }

    & pre {
      @apply border border-ctp-mantle;
    }

    [data-remark-code-title] {
      @apply rounded-t-lg border border-ctp-crust bg-ctp-crust px-5 py-2 font-mono text-sm dark:bg-ctp-mantle;

      & + pre {
        @apply m-0 rounded-t-none border-t-0;
      }
    }

    & :is(h1, h2, h3, h4, h5, h6) {
      @apply gap-1;
      @apply flex;

      & a {
        @apply transition delay-[1ms] ease-in;
        @apply opacity-0;
        @apply pl-1;

        &:hover {
          @apply font-bold;
          @apply transition ease-out hover:opacity-60;
        }
      }

      &:hover a {
        @apply opacity-100;
      }
    }
  }
</style>
