---
import Layout from '@layouts/page.astro';

import Comments from '@components/blog/comments.astro';
import Footer from '@components/footer.astro';
import Line from '@components/underline.astro';

import { blog } from '@config';

import { Icon } from 'astro-icon';
import { format, parseISO } from 'date-fns';

interface Props {
  comments: boolean;
  created: string;
  description: string;
  image?: {
    alt?: string;
    url?: string;
  };
  tags?: Array<string>;
  title: string;
}

const { comments, created, description, image, tags, title } = Astro.props;

const checkComments = () => blog.comments && comments;
const fm = (d: Date) => format(d, 'MMM do, yyyy');

const createdAt = created ? fm(parseISO(created)) : null;
---

<Layout description={description} title={title}>
  <Line>My blog</Line>
  {checkComments() && <meta slot="head" name="giscus:backlink" content={Astro.url.pathname} />}

  <!-- Title -->
  {title && <span class="title mt-10 text-5xl font-bold">{title}</span>}

  <!-- Date -->
  <span class="date mt-3">
    <Icon class="mb-1" size={20} name="mdi:calendar" />
    {createdAt}
  </span>

  <!-- Tags -->
  {
    tags ? (
      <div class="tags mb-5 mt-3 flex gap-2">
        <span class="mb-1 rounded-lg border-[1px] border-ctp-pink py-1 px-3">
          <Icon class="mb-1" size={20} name="mdi:tag" />
          {tags && tags.join(', ')}
        </span>
      </div>
    ) : null
  }

  <!-- Checks if the post's image exists -->
  {image?.url && <img src={image?.url} alt={image?.alt} title={image?.alt} />}

  <!-- The blog's content itself -->
  <main class="article-content">
    <slot />
  </main>

  <!-- Comments provided by Giscus -->
  {checkComments() && <Comments />}

  <!-- Footer -->
  <Footer />

  <style is:global>
    .article-content {
      & :is(h1, h2, h3, h4, h5, h6) {
        @apply font-bold;
        @apply text-4xl;
      }

      & a {
        @apply text-ctp-pink hover:underline;
      }

      @apply flex flex-grow flex-col flex-wrap;
      @apply gap-[1rem];
      @apply mb-5;
    }
  </style>
</Layout>
