---
import Layout from '@layouts/Page.astro';

import { format, parseISO } from 'date-fns';
import { Icon } from 'astro-iconify';

import type { CollectionEntry } from 'astro:content';

import Separator from '@components/Separator.astro';

interface Props {
  type: 'articles' | 'tags';
  title?: string;
  articles: CollectionEntry<'articles'>[];
  description: string;
  total?: number;
}

const formatDate = (date: Date) => format(date, 'MMM d, yyyy');

const { articles, description } = Astro.props;
---

<Layout description={description} pageTitle="Articles" title="Articles | Chloe Arciniega">
  <span class="flex flex-col gap-1 pb-3 text-center">
    <span class="title">Articles</span>
    <span class="pt-1 italic">{description}</span>

    <section class="rss pt-3">
      <Icon size={25} name="mdi:rss" />
      <a class="subscribe pt-1" title="Subscribe to my RSS feed" href="/rss.xml">Subscribe to RSS</a>
    </section>
  </span>

  <hr class="text-ctp-mauve dark:text-ctp-pink" />

  {
    articles
      .sort((a, b) => new Date(b.data.created).valueOf() - new Date(a.data.created).valueOf())
      .map(({ data, slug }) => (
        <span class="flex flex-col rounded-none pb-1 pt-3">
          <article class="flex flex-col gap-1 border-[2px] border-ctp-mauve p-5 dark:border-ctp-pink">
            <span class="text-3xl">
              <a class="font-semibold" href={`/article/${slug}`} title={data.title}>
                {data.title}
              </a>
            </span>

            <span class="flex flex-wrap gap-2 md:gap-1">
              <span class="text-ctp-subtext1">{formatDate(parseISO(data.created))}</span>

              <Separator />

              {data.tag && (
                <a class="font-normal" href={`/articles/tag/${data.tag}`} title={`Article tagged with ${data.tag}`}>
                  {data.tag}
                </a>
              )}

              {data.timeEstimate && (
                <>
                  <Separator />
                  <span class="text-ctp-subtext1">{data.timeEstimate}</span>
                </>
              )}
            </span>

            {data.description && <span class="description italic text-ctp-subtext1">{data.description}</span>}
          </article>
        </span>
      ))
  }

  <slot />
</Layout>
