---
import Layout from '@layouts/Page.astro';

import { Icon } from 'astro-iconify';

import ArticleItems from '@components/blog/ArticleItems.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  title?: string;
  articles: CollectionEntry<'articles'>[];
  description: string;
  total?: number;
}

const { articles, description, title } = Astro.props;
---

<Layout description={description} pageTitle="Articles" title="Articles | Chloe Arciniega">
  <span class="flex flex-col gap-1 pb-3 text-center">
    <span class="title">{title}</span>
    <span class="pt-1 italic">{description}</span>

    <section class="rss pt-3">
      <Icon size={25} name="mdi:rss" />
      <a class="subscribe pt-1" title="Subscribe to my RSS feed" href="/rss.xml">Subscribe to RSS</a>
    </section>
  </span>

  <hr class="text-ctp-mauve dark:text-ctp-pink" />

  {
    articles
      .sort((a, b) => new Date(b.data.created).valueOf() - new Date(a.data.created).valueOf())
      .map(({ data, slug }) => <ArticleItems data={data} slug={slug} />)
  }

  <slot />
</Layout>
