---
import Layout from '@layouts/Page.astro';

import { base, blog } from '$config';
import { format } from 'date-fns';
import { Icon } from 'astro-icon/components';

import Comments from '@components/blog/Comments.astro';
import Tag from '@components/blog/Tag.astro';

import '@fontsource/iosevka/400.css';
import '@styles/article.css';

interface Props {
  slug?: string;

  title: string;
  description: string;
  draft?: boolean;
  created: string;
  modified?: string;
  tags: any[];
  minutesRead?: string;

  comments?: boolean;
}

const { slug, title, description, draft, created, modified, tags, minutesRead, comments } =
  Astro.props;

const checkComments = () => blog.comments.enabled && comments;

const formatDate = (date: string) => format(new Date(date), 'MMMM d, yyyy');
const createdAt = created ? formatDate(created) : undefined;
const modifiedAt = modified ? formatDate(modified) : undefined;

const backlinkPath = Astro.url.pathname.replace('/article', '');
const backlink = new URL(backlinkPath, 'https://solstice.tf').href;

const image = slug
  ? {
      src: `/article/${slug}.png`,
      alt: title,
    }
  : {
      src: base.images.favicon.fileName,
      alt: base.images.favicon.altText,
    };
---

<Layout
  {description}
  pageTitle={title}
  title={`${title} | Sapphic Angels`}
  ogImage={image}
  created={createdAt}
>
  {checkComments() && <meta slot="head" name="giscus:backlink" content={backlink} />}

  {
    draft && (
      <div class="flex flex-col gap-1 border-2 border-ctp-pink p-3">
        <div class="flex flex-row gap-x-1 font-bold">
          <Icon size={25} name="mdi:alert-circle" aria-hidden={true} />
          <h1>Warning</h1>
        </div>

        <span>This article is a draft and is not ready for public viewing.</span>
      </div>
    )
  }

  <header class="flex flex-col">
    <div class="flex flex-col gap-2 pb-2">
      <h1 class="text-4xl font-semibold">{title}</h1>
      <p>{description}</p>
    </div>

    <div class="flex flex-col pt-1">
      <p
        class="flex flex-row gap-x-1"
        title={`Published on ${createdAt}${modifiedAt ? `, edited on ${modifiedAt}` : ''}`}
      >
        <Icon size={25} name="mdi:calendar" aria-hidden={true} />
        {createdAt}
      </p>

      <span class="flex w-max flex-row gap-x-1">
        <Icon size={25} name="mdi:tags" aria-hidden={true} />

        {tags.map((tag) => <Tag {tag} />)}
      </span>

      <p class="flex flex-row gap-x-1">
        <Icon size={25} name="mdi:clock-outline" aria-hidden={true} />
        {minutesRead}
      </p>
    </div>
  </header>

  <section class="article-content prose pt-10 dark:prose-invert">
    <slot />
  </section>

  {checkComments() && <Comments />}
</Layout>
