---
import Layout from '@layouts/Page.astro';

import { blog } from '@config';
import { format, parseISO } from 'date-fns';

import Comments from '@components/blog/Comments.astro';
import Separator from '@components/Separator.astro';

import '@fontsource/iosevka';

interface Props {
  title: string;
  description?: string;
  created?: string;
  modified?: string;
  tag?: string;
  timeEstimate?: string;
  comments?: boolean;
}

const { comments, created, modified, description, tag, timeEstimate, title } = Astro.props;

const checkComments = () => blog.comments && comments;

const formatDate = (date: Date) => format(date, 'MMMM d, yyyy');
const createdAt = created ? formatDate(parseISO(created)) : undefined;
const modifiedAt = modified ? formatDate(parseISO(modified)) : undefined;

const backlinkPath = Astro.url.pathname.replace('/article', '');
const backlink = new URL(backlinkPath, 'https://solstice.tf').href;
---

<Layout description={description} pageTitle={title} title={`${title} | Chloe Arciniega`}>
  {checkComments() && <meta slot="head" name="giscus:backlink" content={backlink} />}

  <header class="flex flex-col items-center text-center">
    <span class="title pt-1">{title}</span>

    {
      (createdAt || modifiedAt) && (
        <span class="pt-3 italic text-ctp-subtext0">
          {createdAt && <span>{createdAt}</span>}
          <Separator />
          {modifiedAt && <span>Last modified {modifiedAt}</span>}
        </span>
      )
    }

    <span class="pb-3 pt-2">{description}</span>

    {
      tag && timeEstimate && (
        <span class="flex flex-row gap-1 pb-3">
          <a href={`/articles/tag/${tag}`} title={`Article tagged with ${tag}`}>
            {tag}
          </a>

          <Separator />

          {timeEstimate}
        </span>
      )
    }
  </header>

  <hr class="text-ctp-mauve dark:text-ctp-pink" />

  <span class="article-content prose dark:prose-invert">
    <slot />
  </span>

  {
    checkComments() && (
      <>
        <span class="flex flex-col gap-1 pb-2 text-center">
          <span class="title">Comments</span>
          <span class="pt-1 italic">Discuss this article with others here!</span>
        </span>
        <Comments />
      </>
    )
  }
</Layout>

<style is:global>
  .article-content {
    @apply max-w-none;
    @apply text-xl;
    @apply pb-5 pt-3;

    & code:before,
    & code:after {
      content: '';
    }

    & :is(h1, h2, h3, h4, h5, h6, p, strong, li) {
      @apply text-ctp-text;
    }

    & code {
      @apply whitespace-pre-wrap;

      & > .line {
        @apply font-mono;
      }
    }

    & pre {
      @apply border border-ctp-mantle;
    }

    [data-remark-code-title] {
      @apply rounded-t-lg border border-ctp-crust bg-ctp-crust px-5 py-2 font-mono text-sm dark:bg-ctp-mantle;

      & + pre {
        @apply m-0 rounded-t-none border-t-0;
      }
    }

    & :is(h1, h2, h3, h4, h5, h6) {
      @apply gap-1;
      @apply flex;

      & a {
        @apply transition delay-[1ms] ease-in;
        @apply opacity-0;
        @apply pl-1;

        &:hover {
          @apply font-bold;
          @apply transition ease-out hover:opacity-60;
        }
      }

      &:hover a {
        @apply opacity-100;
      }
    }
  }
</style>
