---
import Layout from '@layouts/page.astro';

import Comments from '@components/blog/comments.astro';
import Footer from '@components/footer.astro';

import { blog } from '@config';

import { Icon } from 'astro-icon';
import { format, parseISO } from 'date-fns';

import type { MarkdownLayoutProps } from 'astro';
import type { PostFrontmatter } from '~/types';

type Props = MarkdownLayoutProps<PostFrontmatter>;

const { frontmatter } = Astro.props as Props;
const checkComments = () => (blog.comments && frontmatter.comments) ?? true;

const fm = (d: Date) => format(d, 'MMM do, yyyy');

const createdAt = frontmatter.created && fm(parseISO(frontmatter.created));
---

<Layout description={frontmatter.description} siteName={Astro.site?.hostname} title={frontmatter.title}>
  {checkComments() && <meta slot="head" name="giscus:backlink" content={Astro.url.pathname} />}

  <!-- Title -->
  <h2 class="title">{frontmatter.title}</h2>

  <!-- Date and author -->
  <time class="date">
    <Icon size={20} name="mdi:calendar" />
    {createdAt}
  </time>

  <span class="author">
    <Icon size={20} name="mdi:account" />
    {frontmatter.author}
  </span>

  <!-- Tags -->
  {
    frontmatter.tags ? (
      <p class="tags">
        <Icon size={20} name="mdi:tag" />
        {frontmatter.tags && frontmatter.tags.join(', ')}
      </p>
    ) : null
  }

  <!-- Checks if the post's image exists -->
  {frontmatter.image?.url && <img src={frontmatter.image?.url} title={frontmatter.image?.alt} />}

  <!-- The blog's content itself -->
  <slot />

  <!-- Comments provided by Giscus -->
  {checkComments() && <Comments />}

  <!-- Footer -->
  <Footer />

  <style>
    [astro-icon] {
      margin-bottom: -4px;
    }
  </style>
</Layout>
