---
import Layout from '@layouts/Page.astro';

import BlogCard from '@components/blog/Card.astro';

import { Icon } from 'astro-icon/components';
import type { CollectionEntry } from 'astro:content';

interface Props {
  filterTag?: string | number;
  articles: CollectionEntry<'articles'>[];
}

const { filterTag, articles } = Astro.props;
---

<Layout
  description="A personal blog, comprising of whatever stuff I find interesting to post."
  pageTitle="Articles"
  title="Articles | Chloe Arciniega"
>
  <header class="flex flex-col gap-3 pb-5">
    <h1 class="pt-2 text-4xl font-semibold">Articles</h1>
    <p>A personal blog, comprising of whatever stuff I find interesting to post.</p>

    {
      filterTag && (
        <div class="flex flex-row flex-wrap gap-x-1">
          <Icon size={25} name="mdi:filter-cog" aria-hidden={true} />
          <span>
            Showing <span class="font-bold">{filterTag}</span> articles.
          </span>
          <a href="/articles">[Close]</a>
        </div>
      )
    }
  </header>

  {
    articles
      .filter(({ data }) => !data.draft)
      .sort((a, b) => new Date(b.data.created).valueOf() - new Date(a.data.created).valueOf())
      .map(async ({ data, slug, render }) => {
        const {
          remarkPluginFrontmatter: { minutesRead },
        } = await render();

        return <BlogCard {data} {slug} {minutesRead} />;
      })
  }

  <slot />
</Layout>
