---
import Layout from '@layouts/page.astro';

import Comments from '@components/blog/comments.astro';
import Footer from '@components/footer.astro';
import Line from '@components/underline.astro';

import { blog } from '@config';

import { Icon } from 'astro-icon';
import { format, parseISO } from 'date-fns';

interface Props {
  title: string;
  description?: string;
  created?: string | undefined;
  tags?: string[];
  comments?: boolean;
}

const { comments, created, description, tags, title } = Astro.props;

const checkComments = () => blog.comments && comments;
const fm = (d: Date) => format(d, 'MMM do, yyyy');

const createdAt = created ? fm(parseISO(created)) : null;
---

<Layout description={description} pageTitle={title} title={`${title} | Chloe Arciniega`}>
  <Line>My blog</Line>
  {checkComments() && <meta slot="head" name="giscus:backlink" content={Astro.url.pathname} />}

  <!-- Title -->
  {title && <span class="title pt-10 text-5xl font-bold">{title}</span>}

  <!-- Date -->
  {
    createdAt && (
      <span class="date pt-3">
        <Icon size={20} name="mdi:calendar" />
        {createdAt}
      </span>
    )
  }

  <!-- Tags -->
  {
    tags ? (
      <div class="tags flex gap-2 pt-3 pb-5">
        <span class="border-light-accent dark:border-ctp-pink rounded-lg border-[1px] py-1 px-3 pb-1">
          <Icon size={20} name="mdi:tag" />
          {tags && tags.join(', ')}
        </span>
      </div>
    ) : null
  }

  <!-- The blog's content itself -->
  <main class="article-content prose dark:prose-invert">
    <slot />
  </main>

  <!-- Comments provided by Giscus -->
  {checkComments() && <Comments />}

  <!-- Footer -->
  <Footer />

  <style is:global>
    .article-content {
      @apply text-3xl;
      @apply flex flex-grow flex-col flex-wrap;
      @apply pb-5;

      & a {
        text-decoration: none;
      }
    }
  </style>
</Layout>
