---
import Layout from '@layouts/Page.astro';

import { blog } from '@config';
import { format, parseISO } from 'date-fns';

import Comments from '@components/blog/Comments.astro';
import Separator from '@components/Separator.astro';

import '@fontsource/iosevka';

interface Props {
  slug?: string;

  title: string;
  description?: string;
  created?: string;
  modified?: string;
  tag?: string;
  minutesRead?: string;

  comments?: boolean;
  info?: boolean;
}

const { info, title, description, created, modified, slug, tag, minutesRead, comments } = Astro.props;

const checkComments = () => blog.comments && comments;

const formatDate = (date: Date) => format(date, 'MMMM d, yyyy');
const createdAt = created ? formatDate(parseISO(created)) : undefined;
const modifiedAt = modified ? formatDate(parseISO(modified)) : undefined;

const backlinkPath = Astro.url.pathname.replace('/article', '');
const backlink = new URL(backlinkPath, 'https://solstice.tf').href;
---

<Layout description={description} pageTitle={title} title={`${title} | Chloe Arciniega`}>
  {checkComments() && <meta slot="head" name="giscus:backlink" content={backlink} />}

  <header class="flex flex-col">
    <span transition:name={`title-${slug}`} class="title pt-1">{title}</span>
    <span transition:name={`description-${slug}`} class="pb-3 pt-2">{description}</span>

    {
      !info && (
        <span class="flex flex-row flex-wrap gap-1 pb-3 text-ctp-subtext0">
          <span
            transition:name={`date-${slug}`}
            class="text-ctp-subtext0"
            title={`Published on ${createdAt}${modifiedAt ? `, edited on ${modifiedAt}` : ''}`}
          >
            {createdAt}
          </span>

          <Separator transition:name={`sep-1-${slug}`} />

          <a transition:name={`tag-${slug}`} href={`/articles/tag/${tag}`} title={`Article tagged with ${tag}`}>
            {tag}
          </a>

          <Separator transition:name={`sep-2-${slug}`} />

          <span transition:name={`time-${slug}`}>{minutesRead}</span>
        </span>
      )
    }
  </header>

  <span class="article-content prose dark:prose-invert">
    <slot />
  </span>

  {checkComments() && <Comments />}
</Layout>

<style is:global>
  .article-content {
    @apply max-w-none;
    @apply text-xl;
    @apply pb-5 pt-3;

    & :is(h1, h2, h3, h4, h5, h6, p, strong, li) {
      @apply text-ctp-text;
    }

    & code {
      @apply whitespace-pre-wrap;

      & > .line {
        @apply font-mono;
      }
    }

    & pre {
      @apply border border-ctp-mantle;
    }

    [data-remark-code-title] {
      @apply rounded-t-lg border border-ctp-crust bg-ctp-crust px-5 py-2 font-mono text-sm dark:bg-ctp-mantle;

      & + pre {
        @apply m-0 rounded-t-none border-t-0;
      }
    }

    & :is(h1, h2, h3, h4, h5, h6) {
      @apply gap-1;
      @apply flex;

      & a {
        @apply transition delay-[1ms] ease-in;
        @apply opacity-0;
        @apply pl-1;

        &:hover {
          @apply font-bold;
          @apply transition ease-out hover:opacity-60;
        }
      }

      &:hover a {
        @apply opacity-100;
      }
    }
  }
</style>
