---
import Layout from '@layouts/page.astro';

import Comments from '@components/blog/comments.astro';
import Footer from '@components/footer.astro';
import Line from '@components/underline.astro';

import { blog } from '@config';

import { Icon } from 'astro-icon';
import { format, parseISO } from 'date-fns';

import type { MarkdownLayoutProps } from 'astro';
import type { PostFrontmatter } from '~/types';

type Props = MarkdownLayoutProps<PostFrontmatter>;

const { frontmatter } = Astro.props as Props;
const checkComments = () => (blog.comments && frontmatter.comments) ?? true;

const fm = (d: Date) => format(d, 'MMM do, yyyy');

const createdAt = (post: PostFrontmatter) => post.created && fm(parseISO(post.created));
---

<Layout description={frontmatter.description} siteName={Astro.site?.hostname} title={frontmatter.title}>
  <Line>My blog</Line>
  {checkComments() && <meta slot="head" name="giscus:backlink" content={Astro.url.pathname} />}

  <!-- Title -->
  {frontmatter.title && <span class="title mt-10 text-5xl font-bold">{frontmatter.title}</span>}

  <!-- Date -->
  <span class="date mt-3">
    <Icon class="mb-1 inline" size={20} name="mdi:calendar" />
    {createdAt(frontmatter)}
  </span>

  <!-- Tags -->
  {
    frontmatter.tags ? (
      <div class="tags mb-5 mt-3 flex gap-2">
        <span class="border-accent mb-1 rounded-lg border-[1px] py-1 px-3">
          <Icon class="mb-1 inline" size={20} name="mdi:tag" />
          {frontmatter.tags && frontmatter.tags.join(', ')}
        </span>
      </div>
    ) : null
  }

  <!-- Checks if the post's image exists -->
  {frontmatter.image?.url && <img src={frontmatter.image?.url} title={frontmatter.image?.alt} />}

  <!-- The blog's content itself -->
  <slot />

  <!-- Comments provided by Giscus -->
  {checkComments() && <Comments />}

  <!-- Footer -->
  <Footer />
</Layout>
