---
import Layout from '@layouts/Page.astro';

import '@fontsource/iosevka';

import Comments from '@components/blog/Comments.astro';
import Footer from '@components/Footer.astro';
import Line from '@components/Underline.astro';
import Link from '@components/Link.astro';
import Tag from '@components/blog/Tag.astro';

import { blog } from '@config';
import { format, parseISO } from 'date-fns';

interface Props {
  title: string;
  description?: string;
  created?: string;
  tags?: string[];
  comments?: boolean;
}

const { comments, created, description, tags, timeEstimate, title } = Astro.props;

const checkComments = () => blog.comments && comments;
const formatDate = (d: Date) => format(d, 'MMM do, yyyy');

const createdAt = created ? formatDate(parseISO(created)) : null;
---

<Layout description={description} pageTitle={title} title={`${title} | Chloe Arciniega`}>
  <Line>Article</Line>
  {checkComments() && <meta slot="head" name="giscus:backlink" content={Astro.url.href} />}

  <section class="flex flex-col">
    {title && <span class="title pt-5 text-4xl font-bold">{title}</span>}

    <span class="flex flex-row items-center pt-2">
      <img
        src={blog.author.image}
        class="inline rounded-full"
        title={`Avatar of ${blog.author.name}`}
        alt={`Avatar of ${blog.author.name}`}
        width="24"
        height="24"
      />

      <span class="pl-2">
        <Link href={blog.author.link} title={blog.author.name}>{blog.author.name}</Link>

        {createdAt && <span class="date">• published on {createdAt}</span>}

        • {timeEstimate}
      </span>
    </span>

    <span class="tags flex gap-3 pb-5 pt-3">
      {tags ? tags.map((tag) => <Tag tag={tag} />) : null}
    </span>
  </section>

  <hr class="dark:text-ctp-pink" />

  <main class="article-content prose dark:prose-invert">
    <slot />
  </main>

  {checkComments() && <Comments />}
</Layout>
<Footer />

<style is:global>
  .article-content {
    @apply max-w-none;
    @apply text-xl;
    @apply pb-5 pt-5;

    & code:before,
    & code:after {
      content: '';
    }

    & code {
      @apply whitespace-pre-wrap;
    }

    & code > .line {
      @apply font-mono;
    }

    & :is(h1, h2, h3, h4, h5, h6) {
      @apply font-display;
      @apply gap-1;
      @apply flex;

      & a {
        @apply transition delay-[1ms] ease-in;
        @apply opacity-0;
        @apply pl-1 pt-1 text-2xl;

        &:hover {
          @apply font-bold;
        }
      }

      &:hover a {
        @apply opacity-100;
      }
    }
  }
</style>
