---
import Layout from '@layouts/page.astro';

import { Icon } from 'astro-icon';

import Footer from '@components/footer.astro';
import Line from '@components/underline.astro';

interface Props {
    author: string;
    description: string;
    image: string;
    pubDate: Date;
    tags: Array<String>;
    title: string;
}

const { content } = Astro.props;

const {
    author = content.author ?? '',
    description = content.description ?? '',
    image = content.image ?? '',
    pubDate = content.pubDate ?? '',
    tags = content.tags ?? '',
    title = content.title ?? '',
} = Astro.props as Props;
---

<Layout description={description} siteName={Astro.site?.hostname} title={title}>
    <Line>My blog</Line>

    <!-- Title -->
    <h2>{title}</h2>

    <!-- Date and author  -->
    <time>
        <Icon size={20} name="mdi:calendar" />
        {
            new Date(pubDate).toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'short',
                day: 'numeric',
            })
        }
    </time>
    |
    <span>
        <Icon size={20} name="mdi:account" />
        {author}
    </span>

    <p>
        <Icon size={20} name="mdi:tag" />
        {tags ? tags.join(', ') : tags}
    </p>

    <!-- Checks if the post's image exists -->
    {image.url ? <img src={image.url} title={image.alt} /> : null}

    <!-- The blog's content itself -->
    <slot />

    <Footer />

    <style>
        [astro-icon] {
            margin-bottom: -4px;
        }
    </style>
</Layout>
