---
import { SEO } from 'astro-seo';

import '@fontsource/inter';
import '../styles/normalize.css';
import '../styles/sakura.css';

export interface Props {
	color: string;
	description: string;
	icon: string;
	siteName: string;
	title: string;
};

const { color, description, icon, siteName, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href={icon} type="image/png" sizes="16x16">
	<meta name="generator" content={Astro.generator} />
	<meta name="theme-color" content={color}>
	<SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: icon,
        },
        optional: {
          siteName,
          description,
        },
        image: {
          alt: "A pink love heart with stars around it, making it look like it is sparkling or shimmering.",
        },
      }}
      twitter={{
        card: "summary",
        creator: "@solelychloe",
      }}
    />
</head>

<body>
	<slot />
</body>

</html>