---
import Head from '@components/base/Head.astro';
import NavBar from '@components/base/NavBar.astro';

import '@fontsource/atkinson-hyperlegible/400.css';
import { slide } from 'astro:transitions';
import Footer from '@components/base/Footer.astro';

interface Props {
  description?: string;
  pageTitle: string;
  title?: string;
  created?: string;
  ogImage?: {
    src?: string;
    alt?: string;
  };
}

const {
  description = 'Software engineer, sysadmin, community manager.',
  pageTitle,
  title = 'Chloe Arciniega',
  created,
  ogImage,
} = Astro.props;
---

<!doctype html>
<html class="flex flex-col" lang="en">
  <Head {description} {pageTitle} {title} {created} {ogImage}>
    <slot name="head" />
  </Head>

  <body class="flex flex-col text-xl md:self-center">
    <NavBar />

    <main class="flex flex-col gap-2" aria-label="content" transition:animate={slide({ duration: '0.4s' })}>
      <slot />
    </main>

    <Footer />

    <style is:global>
      a {
        @apply text-ctp-mauve transition ease-out hover:underline hover:opacity-50 dark:text-ctp-pink;
      }

      body {
        @apply font-body;
        @apply ctp-latte bg-ctp-crust text-ctp-text dark:ctp-mocha selection:bg-ctp-mauve selection:text-ctp-crust dark:selection:bg-ctp-pink;
        @apply w-auto px-8 py-14 sm:lg:w-[40em];
      }
    </style>
  </body>
</html>
