---
import { slide } from 'astro:transitions';

import Footer from '@components/base/Footer.astro';
import Head from '@components/base/Head.astro';
import NavBar from '@components/base/NavBar.astro';

import '@fontsource/atkinson-hyperlegible/400.css';

interface Props {
  description?: string;
  pageTitle: string;
  title?: string;
  created?: string;
  ogImage?: {
    src?: string;
    alt?: string;
  };
}

const {
  description = 'Software engineer, sysadmin, community manager.',
  pageTitle,
  title = 'Sapphic Angels',
  created,
  ogImage,
} = Astro.props;
---

<!doctype html>
<html class="flex flex-col" lang="en">
  <Head {description} {pageTitle} {title} {created} {ogImage}>
    <slot name="head" />
  </Head>

  <body class="flex flex-col text-xl md:self-center">
    <NavBar />

    <main
      class="flex flex-col gap-2"
      aria-label="content"
      transition:animate={slide({ duration: '0.36s' })}
    >
      <slot />
    </main>

    <Footer />

    <style is:global>
      a,
      button {
        @apply text-ctp-mauve transition ease-out hover:underline hover:opacity-50 dark:text-ctp-pink;
      }

      body {
        @apply font-body;
        @apply ctp-latte bg-ctp-base text-ctp-text dark:ctp-mocha selection:bg-ctp-mauve selection:text-ctp-crust dark:bg-ctp-base dark:selection:bg-ctp-pink;
        @apply w-auto px-8 py-14 sm:lg:w-[40em];
      }

      .article-content :is(h1, h2, h3, p, ul, li, strong) {
        @apply text-ctp-text;
      }

      [data-icon] {
        @apply mt-1;
        @apply text-ctp-mauve dark:text-ctp-pink;
      }
    </style>
  </body>
</html>
