---
export const prerender = true;

import Layout from '@layouts/Page.astro';

import Footer from '@components/Footer.astro';
import Line from '@components/Underline.astro';
import Link from '@components/Link.astro';

import { format, parseISO } from 'date-fns';
import { Icon } from 'astro-iconify';

import type { CollectionEntry } from 'astro:content';

export interface Props {
  type: 'posts' | 'tags';
  title: string;
  posts: CollectionEntry<'posts'>[];
  description: string;
  total?: number;
}

const formatDate = (date: Date) => format(date, 'MMM do, yyyy');

const { type, posts, title, description } = Astro.props;
---

<Layout description={description} pageTitle="Posts" title="Posts | Chloe Arciniega">
  <main class="content flex flex-col">
    <Line>Articles</Line>

    <span class="header pb-1">
      <span class="flex flex-col gap-3">
        {
          // prettier-ignore
          type === 'posts' ? (
            <>
              <span class="font-semibold italic">{description}</span>
              {`Currently serving ${posts.length} post${posts.length == 1 ? '' : 's'}${posts.length == 10 ? ` (${Astro.props.total} total)` : ''} on this page.`}
            </>
          ) : (
            <>
              <span class="title text-4xl font-bold">{title}</span>
              {`Fetched ${posts.length} post${posts.length === 1 ? '' : 's'}${posts.length == 10 ? ` (${Astro.props.total} total)` : ''} with the queried tag on this page.`}
            </>
          )
        }
      </span>
    </span>

    <section class="rss pb-3">
      <Icon class="text-ctp-mauve dark:text-ctp-pink" size={25} name="mdi:rss" />
      <Link class="subscribe pb-5 pt-1" title="Subscribe to my RSS feed" href="/rss.xml">Subscribe to RSS</Link>
    </section>

    <hr class="pb-2 text-ctp-mauve dark:text-ctp-red" />

    {
      posts
        .sort((a, b) => new Date(b.data.created).valueOf() - new Date(a.data.created).valueOf())
        .map(({ data, slug }) => (
          <span class="rounded-1xl flex flex-col pb-2 pt-1">
            <article class="flex flex-col gap-1 border-[2px] border-ctp-mauve p-5 dark:border-ctp-pink">
              {data.tag && (
                <Link color="text-ctp-red" href={`/posts/tag/${data.tag}`} title={`Post tagged with ${data.tag}`}>
                  {data.tag.toUpperCase()}
                </Link>
              )}

              <span class="text-3xl font-bold">
                <Link href={`/posts/${slug}`} title={data.title}>
                  {data.title}
                </Link>
              </span>

              <span>
                <Icon size={20} name="mdi:calendar" /> {formatDate(parseISO(data.created))}
                {data.timeEstimate && (
                  <>
                    <Icon size={20} name="mdi:clock-outline" /> {data.timeEstimate}
                  </>
                )}
              </span>

              {data.description && <span class="description italic">{data.description}</span>}
            </article>
          </span>
        ))
    }

    <slot />

    <Footer />
  </main>
</Layout>
